.dataframe{
    text-align: center;
    font-size: small;
}

.dataframe th{
    text-align: center;
    font-size:large;
}

h1 {
    text-align: center;
}


.image_container{
    margin-left: 70px;
}

.card-body{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
}


.card-title{
    text-align: center;
}

.card-text{
    text-align: left;
}




@media (max-width: 1200px){
    .mars_content{
        flex-direction: column;

    }

}